body{
    background-image: url("../images/bg.jpg");
    background-color: black;
    background-size: cover;
    color: white;
}
h1{
    font-family: 'Permanent Marker', cursive;
}
.box{
    background-color: black;
    text-align: center;
    border: 5px white dotted;
}
.big-digit{
    font-size: 2em;
}
